@import 'fonts';

/*colors*/
$red: #c62a31;
$gray: #778081;
/*colors*/

/*base styles*/
body {
  font-family: 'pt_sansregular', sans-serif;
  background: url(../img/textura.png);
  min-width: 320px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
img {
  max-width: 100%;
}
.container {
  padding: 0 20px;
  position: relative;
}
.row {
  margin: 0 -20px;
  font-size: 0;
}
.column {
  padding: 0 20px;
  font-size: initial;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  &--margin {
    margin: 0 0 6px 0;
  }
}
.container:after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  border: 0;
  border-radius: 4px;
  color: #fff;
  padding: 5px 15px;
  text-decoration: none;
  display: inline-block;
  background: $red;
  padding: 11px 25px;
  font-size: 14px;
  transition: 0.1s ease-in-out;
  &:hover {
    background: #b2262c;
  }
}
h2 {
  font-size: 24px;
  color: #454545;
  line-height: 134%;
  margin: 0 0 24px;
}
h3 {
  font-size: 21px;
  line-height: 125%;
  margin: 0 0 8px 0;
}
p {
  font-size: 18px;
  color: $gray;
  margin: 0 0 20px 0;
  line-height: 125%;
}
.date-title {
  font-size: 12px;
  color: #000;
  line-height: 125%;
  margin: 0 0 5px 0;
}
.time-title {
  font-size: 12px;
  color: #000;
  line-height: 125%;
  margin: 0 0 5px 0;
  letter-spacing: 0.8px;
}
.red-color {
  color: $red;
}
.block-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &--z-index {
    z-index: 9;
  }
}
/*base styles*/




/*header*/
.header {
  padding: 12px 0;
  background: #fff;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1);
  &__logo {
    width: 159px;
    float: left;
  }
}

.header-nav {
  text-align: right;
  z-index: 98;
  &__list {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background: rgba(198,42,49,0.9);
    padding: 96px 0 0 0;
    transition: 0.3s ease-in-out;
    transform-origin: right top;
    transform: scale(0);
  }
  &__item {
    list-style: none;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 24px;
    padding: 10px 30px 10px 35px;
    transition: 0.1s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
  &--open {
    .trigger {
      &__line {
        background: #fff;
        &:first-child {
          transform: rotate(45deg);
          top: 8px;
        }
        &:last-child {
          transform: rotate(-45deg);
          top: -10px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
      }
    }
    .header-nav__list {
      transform: scale(1);
    }
  }
}
.trigger {
  position: relative;
  border: 0;
  z-index: 99;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  margin-top: 12px;
  &__line {
    position: relative;
    display: block;
    height: 4px;
    width: 28px;
    background: $red;
    margin-top: 5px;
    transition: 0.3s ease-in-out;
    &:first-child {
      margin-top: 0;
    }
  }
}
/*end of header*/

/*carousel*/
.carousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &__content {
    width: 100%;
    height: 100%;
  }
  &__item {
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    min-height: 100%;
  }
  &__arrow {
    display: none;
  }
}
.carousel-nav {
  position: absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
  text-align: center;
  &__item {
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border: 1px solid rgba(255,255,255,0.7);
    display: inline-block;
    &--active {
      background: rgba(255,255,255,0.7);
    }
  }
}

/*end of carousel*/

/*baner*/
.banner {
  margin: 90px 0 0 0;
  position: relative;
  padding: 20px 0 60px 0;
}
.banner-info {
  background: rgba(0,0,0,0.7);
  padding: 24px 20px 21px 20px;
  color:  #fff;
  &__title {
    font-size: 32px;
    letter-spacing: 0.3px;
    line-height: 115%;
    margin: 0 0 10px 0;
  }
  &__text {
    font-size: 18px;
    margin: 0 0 22px 0;
    color: #fff;
    line-height: 134%;
  }
  &__date {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: 0.2px;
  }
  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 3px
  }
  &__btn {
    display: table;
    margin: 20px auto 0 auto;
  }
}
/*end of baner*/

/*content*/
.content {
  padding: 25px 0;
}
.news {
  margin: 0 0 32px 0;
  &__text {
    font-size: 16px;
    line-height: 138%;
  }
  &__link {
    text-decoration: none;
    &:hover h3 {
      text-decoration: underline;
    }
  }
}
.agenda {
  list-style: none;
  // padding: 0 0 8px 0;
  &__item {
    padding: 0 0 0 22px;
    margin: 0 0 24px;
    position: relative;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 4px;
      background: $red;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 138%;
  }
}
.members {
  list-style: none;
  // padding: 0 0 10px 0;
  &__item {
    padding: 0 0 0 50px;
    margin: 0 0 24px;
    position: relative;
  }
  &__num {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $red;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 16px;
  }
  &__title {
    color: $red;
    font-size: 16px;
    letter-spacing: 0.8px;
    margin: 0;
  }
  &__text {
    font-size: 16px;
    line-height: 138%;
  }
}
.content-image {
  max-width: 280px;
  margin: 9px 0 5px 0;
}
.img-title {
  margin: 0 0 15px 0;
}
.social {
  margin: 30px -10px 25px;  
  font-size: 0;
  &__item {
    text-align: center;
    display: inline-block;
    width: 16.666%;
    padding: 0 10px;
  }
  &__icon {
    display: inline-block;
    width: 29px;
    height: 29px;
    background-size: 100%;
    transition: 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    &--facebook {
      background-image: url(../img/Facebook_mobile.png);
    }
    &--twitter {
      background-image: url(../img/Twitter_mobile.png);
    }
    &--linkedin {
      background-image: url(../img/LinkedIN_mobile.png);
    }
    &--instagram {
      background-image: url(../img/Instagram_mobile.png);
    }
    &--google {
      background-image: url(../img/Google_mobile.png);
    }
    &--youtube {
      background-image: url(../img/Youtube_mobile.png);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
      &--facebook {
        background-image: url(../img/Facebook_mobile@2x.png);
      }
      &--twitter {
        background-image: url(../img/Twitter_mobile@2x.png);
      }
      &--linkedin {
        background-image: url(../img/LinkedIN_mobile@2x.png);
      }
      &--instagram {
        background-image: url(../img/Instagram_mobile@2x.png);
      }
      &--google {
        background-image: url(../img/Google_mobile@2x.png);
      }
      &--youtube {
        background-image: url(../img/Youtube_mobile@2x.png);
      }
    }
  }
}
/*end of content*/

/*footer*/
.footer {
  background: $red;
  text-align: center;
  padding: 20px 0 5px;
  &__text {
    color: #fff;
    font-size: 13px;
    line-height: 115%;
    display: inline-block;
  }
}
.footer-nav {
  text-align: center;
  list-style: none;
  margin: 0 0 18px 0;
  &__item {
    display: inline-block;
    padding: 0 10px;
  }
  &__link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    line-height: 115%;
    display: inline-block;
    &:hover {
      text-decoration: underline;
    }
  }
}
/*end of footer*/

@media (min-width: 768px) {
  /*base styles*/
  h2 {
    font-size: 28px;
    margin: 0 0 32px;
  }
  h3 {
    font-size: 24px;
    margin: 0 0 13px;
  }
  .date-title {
    margin: 0 0 10px;
  }
  .container {
    width: 750px;
    margin: 0 auto;
  }
  .column {
    &--margin {
      margin: 0 0 14px;
    }
    &--sm-6 {
      width: 50%;
    }
    &--sm-4 {
      width: 33.333%;
    }
  }
  .text-right-sm {
    text-align: right;
  }
  .text-left-sm {
    text-align: left;
  }
  /*end of base styles*/

  /*header*/
  .header {
    position: relative;
  }
  .trigger {
    display: none;
  }
  .header-nav {
    &__list {
      transform: scale(1);
      position: relative;
      background: transparent;
      padding: 0;  
    }
    &__item {
      display: inline-block;
    }
    &__link {
      color: #454545;
      padding: 0;
      margin: 20px 0 20px 22px;
      font-size: 20px;
      opacity: 0.7;
      transition: 0.1s ease-in-out;
      border-bottom: 2px solid transparent;
      &:hover {
        opacity: 1;
        border-bottom: 2px solid $red;
      }
    }
  }
  /*end of header*/

  /*baner*/
  .banner {
    margin: 0;
    padding: 137px 0 140px;
  }
  .banner-info {
    max-width: 529px;
    margin: 0 auto;
    &__title {
      margin: 0 0 15px;
      font-size: 39px;
    }
    &__text {
      margin: 0 0 25px;
    }
    &__icon {

    }
    &__date {
      font-size: 20px;
      letter-spacing: 1px;
    }
    &__btn {
      display: inline-block;
      vertical-align: middle;
      margin: 0 0 0 38px;
    }
  }
  /*end of baner*/

  /*content*/
  .content {
    padding: 40px 0;
  }
  .members-padding {
    padding-left: 60px;
  }
  .news-padding {
    padding-bottom: 14px;
  }
  .content-image {
    max-width: 307px;
    &--left {
      float: left;
      margin: 5px 32px 8px 0px;
    }
    &--right {
      float: right;
      margin: 5px 0px 8px  32px;
    }
  }
  .img-title {
    margin: 0 0 22px;
  }
  .social {
    margin: 36px 0 32px;
    text-align: center;
    &__item {
      width: auto;
      padding: 0 30px;
    }
    &__icon {
      width: 41px;
      height: 41px;
      &--facebook {
        background-image: url(../img/Facebook.png);
      }
      &--twitter {
        background-image: url(../img/Twitter.png);
      }
      &--linkedin {
        background-image: url(../img/LinkedIN.png);
      }
      &--instagram {
        background-image: url(../img/Instagram.png);
      }
      &--google {
        background-image: url(../img/Google.png);
      }
      &--youtube {
        background-image: url(../img/Youtube.png);
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
        &--facebook {
          background-image: url(../img/Facebook@2x.png);
        }
        &--twitter {
          background-image: url(../img/Twitter@2x.png);
        }
        &--linkedin {
          background-image: url(../img/LinkedIN@2x.png);
        }
        &--instagram {
          background-image: url(../img/Instagram@2x.png);
        }
        &--google {
          background-image: url(../img/Google@2x.png);
        }
        &--youtube {
          background-image: url(../img/Youtube@2x.png);
        }
      }
    }
  }
  /*end of content*/

  /*footer*/
  .footer {
    white-space: nowrap;
    padding: 48px 0 50px;
    &__text {
      margin: 0;
      &--left {
        text-align: left;
      }
      &--right {
        text-align: right;
      }
    }
  }
  .footer-nav {
    margin: 0;
  }
  /*end of footer*/
}

@media (min-width: 992px) {
  /*base styles*/
  .container {
    width: 992px;
  }
  .column {
    &--margin {
      margin: 0 0 14px;
    }
    &--md-4 {
      width: 33.333%;
    }
    &--md-6 {
      width: 50%;
    }
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
    margin: 0 0 8px;
  }
  p {
    font-size: 14px;
    line-height: 125%;
  }
  /*end of base styles*/

  /*baner*/
  .banner {
    padding: 179px 0 125px;
  }
  .banner-info {
    margin: 0 0 0 72px;
    padding-bottom: 24px;
    &__title {
      font-size: 40px;
      letter-spacing: -0.4px;
      margin: 0 0 12px;
    }
    &__text {
      margin: 0 0 20px;
    }
    &__icon {
      margin: 0 20px 0 3px;
    }
    &__date {
      letter-spacing: 0.5px;
    }
  }
  /*end of baner*/

  /*carousel*/
  .carousel {
    &__arrow {
      display: block;
      border: 0;
      background-color: transparent;
      width: 18px;
      height: 47px;
      position: absolute;
      top: -24px;
      background-size: 100%;
      cursor: pointer;
      transition: 0.1s ease-in-out;
      &:hover {
        opacity:0.7;
      }
      &--left {
        background-image: url(../img/arrow_left.png);
        left: 0;
      }
      &--right {
        background-image: url(../img/arrow_right.png);
        right: 0;
      }
      @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        &--left {
          background-image: url(../img/arrow_left@2x.png);
          left: 40px;
        }
        &--right {
          background-image: url(../img/arrow_right@2x.png);
          right: 40px;
        } 
      }
    }  
  }
  /*end of carousel*/

  /*content*/
  .content {
    padding: 46px 0
  }
  .members-padding {
    padding-left: 15px;
  }
  .news {
    margin: 0 0 25px;
    &__text {
      font-size: 14px;
      line-height: 125%;
    }
  }
  .agenda {
    &__text {
      font-size: 14px;
      line-height: 125%;  
    }
    &__item {
      margin: 0 0 28px;
    }
  }
  .content-image {
    width: 200px;
    &--left {
      margin: 4px 23px 15px 0;
    }
    &--right {
      margin: 4px 0 15px 23px;
    }
  }
  .social {
    margin: 36px 0 24px;
    &__item {
      padding: 0 45px;
    }
  }
  /*end of content*/
}

@media (min-width: 1070px) {
  /*base styles*/
  .container {
    width: 1064px;
  }
  /*end of base styles*/ 
}
